{
  "*.{js,ts,tsx}": ["yarn run type-check","eslint --ignore-path .gitignore .", "git add"],
  "*.scss": ["prettier --write", "stylelint --fix", "git add"],
  "{*.{json,md}}": ["prettier --write", "git add"]
}
